form {
    display: flex;
    position: relative;

    margin: auto;
    max-width: 500px;
    input {
        padding: 1.2em 1em;
        width: 100%;

        border: none;
        outline: none;
        background-color: transparent;

        border-radius: 2em;
        border: 1px solid $clr-d-red;
        padding-left: 2em;

        color: $clr-dark-grayish-red;
        font-weight: 600;
        &::placeholder {
            color: $clr-d-red;
            opacity: 50%;
            font-size: 1.2em;
            font-weight: 300;
        }
        &:invalid {
            border-color: $clr-soft-red;
            border-width: 2px;
        }
        &:invalid ~ .error {
            display: flex;
        }
    }
    .arrow-container {
        background: $grad-pink;

        border-radius: 2em;
        border: none;
        outline: none;
        cursor: pointer;

        position: absolute;
        right: 0px;

        height: 100%;
        width: 65px;

        display: grid;
        place-items: center;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    // ERROR CONTROL
    .error-container {
        position: absolute;
        right: 80px;
        height: 100%;
        display: grid;
        place-items: center;
    }
    span {
        position: absolute;
        bottom: -25px;
        left: 25px;
        font-size: 0.9em;
        color: $clr-soft-red;
    }
    .error {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    form {
        margin-left: 0;
        input {
              padding: 1.5em;
              padding-left: 2em;        
        }
        .arrow-container {
            width: 100px;
        }
        .error-container {
            position: absolute;
            right: 120px;
            height: 100%;
            display: grid;
            place-items: center;
        }
    }
    
}