nav {
    width: 100%;
    padding: 2em;
    img {
        width: 100px;
    }
}

.mobile-hero {
    width: 100%;
    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        max-height: 300px;
    }
}
.desktop-hero {
    display: none;
}

@media screen and (min-width: 1440px) {
    .desktop-hero {
        display: block;
        height: 100vh;
        img {
            height: 100%;
            max-width: 600px;
            object-fit: cover;
        }
    }
    
    .mobile-hero {
        display: none;
    }
    
    .desktop-container {
        width: 100%;
        padding: 4em 8em;
    }

    main {
        display: flex;
        flex-direction: row-reverse;
    }

    nav {
        margin-left: 1em;
        img {
            width: auto;
        }
    }   
}